@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
    }
}

html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}