#headshot {
    width: 500px;
    height: 500px;
    aspect-ratio: 1/1;
    border-radius: 100% 100%;
    background-image: url('../media/headshot.jpg');
    background-size: cover;
    background-position: -30%;
    margin: 50px 50px 0px 50px;
}